

@media only screen and (min-width: 580px) {

  body{
    background-color: #272B2B;
    color:#7CE2E2;
    font-family: 'Assistant', sans-serif;
    padding: 5%;
  }
  h1{
    color:white;
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    margin: 5%;
  }
  .nav{
    text-align: center;
    width:100%;
    color: white;
    font-size: 2rem;
  }
  .navLink{
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
  }
  .first-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15%;
    margin-top: 5%;
    font-size: 2rem;
  }
  .profile-image{
    width: 25%;
    height: auto;
    margin-top: 5%;
  }
  .tag-line{
    margin:0;
  }
  .section-title{
    font-size: 2rem;
    color:white;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 4rem;
  }
  .about-me-body{
    font-size: 2rem;
  }
  .my-work-section{
    display: block;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10% 0;
  }
  .project-image{
    width: 40%;
    height: auto;
    border-radius: 5%;
    border: 2px solid #272B2B;
    float: right;
    margin: 0 5% 5% 5%;
  }
  .project-title{
    margin-bottom:5%;
    font-size: 3rem;
    color: white;
  }
  .my-work-body{
    font-size: 2rem;
    margin-top:0;
    padding-right: 50%;
  }
  .link{
    padding-right: 10%;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
  }
  .contact-image{
    width: 100%;
    height: auto;
    margin-top: 15%;
  }
  a:visited{
    color:#329393;
  }
  a:link{
    color:white;
  }
  .contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30%;
  }
  .contact-link{
    font-size: 3rem;
  }

}